#mainDiv{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#rightDiv{
  float: left;
  width: 60%;
  height: 500px;
}

#leftDiv{
  margin-right: 10px;
  float: left;
  width: 35%;
  height: 500px;
  border-right: 1px solid gray;
}

#lefDivTop{
  width: 100%;
  height: 15%;
  border-bottom: 1px solid gray;
}

#lefDivBottom{
  width: 100%;
  height: 85%;
}

#warehouseContainer{
  margin-top: 10px;
  background-color: #D7D7D7;
  overflow-y: auto;
  overflow-x: hidden;
  width: 98%;
  height: 90%;
}

#warehouseTypes{
  width: 70%;
}
