#mainDiv{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#rightDiv{
  float: left;
  width: 60%;
  height: 500px;
}

#leftDiv{
  margin-right: 10px;
  float: left;
  width: 35%;
  height: 500px;
  border-right: 1px solid gray;
}

#warehousesContainer{
  margin-top: 10px;
  color: #343a40;
  background-color: gray;
  border-radius: 3px;
  border: solid 1px rgb(37, 41, 32);
  overflow-y: auto;
  overflow-x: hidden;
  width: 98%;
  height: 85%;
}

#warehouseTypes{
  width: 70%;
}

div.warehouseListing {
  text-align: left;
  border-bottom: solid 1px rgb(37, 41, 32);
  padding: 5px;
  padding-bottom: 8px;
  border-radius: 3px;
  transition: .2s;
}
div.warehouseListing:hover {
  background-color: #343a40;
  color: rgb(235, 235, 235);
  cursor: pointer;
}

h4.warehouseList {
  font-size: 23;
  padding-bottom: 0;
  margin: 0;
}

p.warehouseList {
  font-size: 12;
  margin-bottom: 0;
  margin-top: 3;

}


